
-auth = "YWRtaW46YWRtaW4xMjM="
18.221.2.79:8081/repository/nhs.repo/:_authToken = 'YWRtaW46YWRtaW4xMjM='
allowRepublish = true ; overridden by project
registry = "http://18.221.2.79:8081/repository/nhs.repo/"
registry.npmjs.org/:_password = "admin123" ; overridden by project
registry.npmjs.org/:username = "admin" ; overridden by project
